Arvato.PortalCandidato.UI/Service References/analytics/analytics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="newAccess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="resource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loginACD" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="domainUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="personPK" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="projectPK" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="project" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="subProjectPK" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="subProject" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="servicePK" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="service" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="newAccessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newAccessResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="newAccessSoapIn">
    <wsdl:part name="parameters" element="tns:newAccess" />
  </wsdl:message>
  <wsdl:message name="newAccessSoapOut">
    <wsdl:part name="parameters" element="tns:newAccessResponse" />
  </wsdl:message>
  <wsdl:portType name="analyticsSoap">
    <wsdl:operation name="newAccess">
      <wsdl:input message="tns:newAccessSoapIn" />
      <wsdl:output message="tns:newAccessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="analyticsHttpGet" />
  <wsdl:portType name="analyticsHttpPost" />
  <wsdl:binding name="analyticsSoap" type="tns:analyticsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newAccess">
      <soap:operation soapAction="http://tempuri.org/newAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="analyticsSoap12" type="tns:analyticsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newAccess">
      <soap12:operation soapAction="http://tempuri.org/newAccess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="analyticsHttpGet" type="tns:analyticsHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="analyticsHttpPost" type="tns:analyticsHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="analytics">
    <wsdl:port name="analyticsSoap" binding="tns:analyticsSoap">
      <soap:address location="http://10.20.56.21/apis/apiAnalytics/analytics.asmx" />
    </wsdl:port>
    <wsdl:port name="analyticsSoap12" binding="tns:analyticsSoap12">
      <soap12:address location="http://10.20.56.21/apis/apiAnalytics/analytics.asmx" />
    </wsdl:port>
    <wsdl:port name="analyticsHttpGet" binding="tns:analyticsHttpGet">
      <http:address location="http://10.20.56.21/apis/apiAnalytics/analytics.asmx" />
    </wsdl:port>
    <wsdl:port name="analyticsHttpPost" binding="tns:analyticsHttpPost">
      <http:address location="http://10.20.56.21/apis/apiAnalytics/analytics.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>